
PORT=3003

STRIPE_SECRET=sk_test_51QVJJtAVAaUxXoJnbrtgJj7iE0b49oWB4bIqjM4PW3wLkOiUTj87BmAtRdhTIGNId5xmQJ034h9NedsqZQWfR9Cq00FDsqaJF0

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1QVN2uAVAaUxXoJn2V5vNbx7
# Generamos un endpoint secreto para Stripe
STRIPE_ENDPOINT_SECRET=